#img-bg{
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/15f8cf74712247.5c37ae6594af8.gif');

  min-height: 695px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
